@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
/*基本的なページ全体のCSS*/
*{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: 0 0 0 0;
    font-family: "Bona Nova SC", serif;
}
body{
    background-color: #FFFEF6;
}
._strong_{
    text-decoration: underline #d21369;
    height: 3em;
}
._SUBTITLE_{
    display: block;
    margin-top: 1%;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline double #000000;
}
._Button_{
    display: block;
    text-align: center;
    font-size: 1.15rem;
    background-color: #EDF0E0;
    text-decoration: underline #d21369;
    margin-top: 2.5%;
    margin-left: 1%;
    border: solid 1px #000;
    border-radius: 5px;
}
._Product_ {
    display: block;
    padding: 5%;
    background-color: #000;
    color: #fff;
}
._Right_{
    text-align: right;
}
._Left_{
    text-align: left;
}
.marqueeText{
    animation: marquee 20s linear infinite;
}
.Web,.Server,.Embedded,.AI,.Data{
    height: 3rem;
}
.Web{
    background-image: url("../images/web_engineer.png");
    background-size: 100% 5rem;
}
.Server{
    background-image: url("../images/Server-engineer.png");
    background-size: 100% 5rem;
}
.Embedded{
    background-image: url("../images/Embedded_enginee.png");
    background-size: 100% 5rem;
    background-position: 0 0;
}
.AI{
    background-image: url("../images/AI_engineer.png");
    background-size: 100% 5rem;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.Data{
    background-image: url("../images/Data-scientist.png");
    background-size: 100% 5rem;
    background-position: 0 0;
    background-repeat: no-repeat;
}
._Button_:hover {
    background-color: aqua;
    transition: bacbackground-color 0.5s;
}
._AboutTextStyle_{
    margin-left: 5%;
}
@media screen and (max-width:500px) {
    .AnimationTitleIMG{
        display: block;
        position: relative;
    }
    .StartAnimationTextFields{
        text-align: center;
        font-weight: bold;
        font-size: 100%;
        margin-top: 10%;
    }
    .StartAnimation{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .header{
        display: none;
        background-color: lightblue;
        width: 100%;
        height: auto;
    }
    #header.TitleFixed{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .headerContents{
        display: flex;
        justify-content: space-between;
        height: 3em;
        top: 0;
        left: 0;
    } 
    .TitleImage{ position: relative; }
    .Hamburger-menu{
        display: flex;
        vertical-align: middle;
        margin-right: 5%;
        top: 0px;
        left: 0px;
    }
    .Value{
        font-weight: bold;
        width: 100%;
        margin-top: 20%;
        font-size: large;
    }

    .MenuDisplay{ display: none; }
    .MenuHeader{
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        height: 3em;
    }
    .MenuClose{
        color: #fff;
        margin-right: 5%;
        height: 48px;
        width: 52px;
        display: flex;
        vertical-align: middle;
    }
    .CloseButton{
        font-weight: bold;
        width: 100%;
        font-size: x-large;
        text-align: center;
        padding: 14%;
        margin-bottom: 2px;
    }
    ol{ display: flex; }
    .MenuContents{ display: flex; }
    .MenuDisplayMain{ position: relative; }
    .ItemChilds{
        position: absolute;
        top: 23em;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        display: block;
        
    }
    .ItemText{
        margin-top: 2em;
        font-size: 25px;
        font-weight: bold;
        color: #000;
        filter: drop-shadow(16px 16px 16px #d21369);
        
    }

    .AnimationStart{
        animation: toptobottomScale 1.4s ease 0s 1 normal;
    }
    .Exit{
        margin-top: 2em;
        font-size: 25px;
        font-weight: bold;
        color: #000;
        animation: Exit 1.4s ease 0s 1 normal;
    }
    @keyframes toptobottomScale {
        0% {
            transform: translateY(-1200px) scale(0.7);
            opacity: .7
        }
        80% {
            transform: translateY(0) scale(0.7);
            opacity: .7
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes Exit {
        0%{
            transform: translateY(0) scale(0.7);
            opacity: .7;
        }
        80%{
            transform: translateY(1200px) scale(0.7);
            opacity: .7;
        }
        to {
            transform: scale(-1);
            opacity: 1;
        }
    }
    .main { display: none; }
    th{
        width: 35%;
        background-color: #e1e6ea;
        height: auto;
    }
    div.mainContentsTitle{
        background-color: #000000;
        color: #ffffff;
    }
    .PressReleaseTitle{
        margin-top: 5%;
        text-align: center;
        font-size: 30px;
        
    }
    .PressReleaseMain ul{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        list-style: none;
        margin-right: 5%;
        margin-left: -5%;
    }
    .PressReleaseText{ background-color: antiquewhite; }
    li.PressReleaseText{
        font-size: 20px;
        border-bottom: 2px solid #000;
    }
    .Philosophy{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Advantage{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Product{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Access{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .map{ margin-top: 5%; }
    .Access{ margin-top: 5%; }
    .TEL{ text-align: right; }
    .TextTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .TextTitle:before, .TextTitle:after{
        border: 1px solid #000;
        content: "";
        width: 1em;
    }
    .TextTitle:before{ margin-right: 5%; }
    .TextTitle:after { margin-left: 5%; }
    .footer{
        display: none;
        bottom: 0;
        background-color: #000;
        margin-top: 5%;
    }
    .footer-About{
        position: absolute;
        bottom: 0;
    }
    .Sponsor{
        text-align: center;
    }
    /*AboutPageのCSS*/
    .AboutPage {
        display: none;
    }
    .selectButton{
        text-align: center;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .CompanyProfileArea{ margin: 0 auto; }
    .AboutPageButton{
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-weight:bolder;
        border-radius: 10px;
        font-size: auto;
        
    }
    .true{
        background-color: rgb(255, 136, 136);
        box-shadow: 12px 12px 2px 1px rgb(136, 136, 255);
    }
    .none{
        background-color: rgb(136, 136, 255);
        box-shadow:12px 12px 2px 1px rgb(255, 136,136);
    }
    /*経営陣のぺージCSS*/
    .OfficerArea{ display: none; }
    /*所在地ページのCSS*/
    .AccessArea{ display: none; }
    /* 歴史ページのCSS*/
    .HistoryArea{ display: none; }
    .HistoryTitle{ font-size: 25px; }
    .HTEXT{
        display: inline-block;
        margin-top: 5%;
    }
    div.HTEXT span.Year{ font-weight: bolder; }
    /*サービスページのCSS*/
    div.ServicePage{display: none; }
    div.Service_Contents img{
        display: inline-block;
        margin-left: 15%;
        margin-right: 15%;
    }
    div.Service_Contents div.Contents_Text{
        margin-left: 15%;
        margin-right: 15%;
    }
    .Servive_Contents_Area{ display: inline-flex; }
}