@charset "utf-8";

*{
    margin-block-start: 0%;
    margin-block-end: 0%;
}

@media screen and (min-width:480px) {
    .StartAnimation{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        display: none;
    }
    .main{
        display: none;
    }
    .footer{
        display: none;
    }
}